@model MvcProject_Raihan.Models.Customer
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Customer Name:</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b> Customer Age:</b></td>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <td><b>Date Of Birth:</b></td>
                    <td>@Model.DateOfBirth</td>
                </tr>
                <tr>
                    <td><b>Address :</b></td>
                    <td>@Model.Address</td>
                </tr>
                <tr>
                    <td><b>Cell Phone No :</b></td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td><b> Email Address :</b></td>
                    <td>@Model.Email</td>
                </tr>

            </table>
        </td>
    </tr>
</table>