@model MvcProject_Raihan.Models.BookDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleveryCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleveryCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
